<h1><%= @fact.content %></h1>
<h2>It's true 'cause I read it on the internet</h2>
<p><a href="<%= @fact.url %>">Permalink</a></p>
<p><a href="/">Tell me more true things.</a></p>
<p><a href="/who">Who?</a></p>
<p><a href="/what">What?</a></p>