<h1>If you type something after .net, like "law-and-order-is-the-greatest-tv-show" and use dashes instead of spaces you can make that something true. Check it out: <a href="/law-and-order-is-the-greatest-tv-show">http://www.true-cause-i-read-it-on-the-internet.net/law-and-order-is-the-greatest-tv-show</a>.</h1>
<h2></h2>
<h2>It's true 'cause I read it on the internet</h2>
<p><a href="/what">Permalink</a></p>
<p><a href="/">Tell me more true things.</a></p>
<p><a href="/who">Who?</a></p>
<p><a href="/what">What?</a></p>