<h1><a href="http://stevenklise.com">Steve Klise</a> wrote this website because he thinks that some things are true because he read them on the internet.</h1>
<h2>It's true 'cause I read it on the internet</h2>
<p><a href="/who">Permalink</a></p>
<p><a href="/">Tell me more true things.</a></p>
<p><a href="/who">Who?</a></p>
<p><a href="/what">What?</a></p>