html, body, div, h1, h2, h3, p, em, img, strong {
  background-color: rgb(196, 226, 235);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 300;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
}
a { color: rgb(121, 112, 110); }
body {
  color: rgb(3, 102, 159);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  max-width: 40em;
}
h1 { font-size: 140%; }
h2 { font-size: 400%; margin: 0.25em 0; }
h3 { font-size: 120%; font-style: italic; }
p { margin: 0.5em 0; }